a {
    display: block;
    color: #989897;
    font-size: 12px;
    line-height: 26px;
    text-decoration: none;
    min-width: 90px;
    margin: 0;
    height: 28px;
    font-weight: 400;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(2, 2, 2, 0.05);
    -webkit-box-shadow: 0 1px 4px 0 rgba(2, 2, 2, 0.05);
    -moz-box-shadow: 0 1px 4px 0 rgba(2, 2, 2, 0.05);
    text-align: center;
    text-transform: uppercase;
    float: right;
    margin-left: 10px;
}

:host.btn-redBorder a {
    border: 1px solid #c35d3e;
    color: #be3a26;
}
:host.legendMeta a {
    min-width: 0;
    padding:0 7px;
    font-size: 20px;
}